BasedOnStyle: Mozilla
IndentWidth: 4
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveAssignments: Consecutive
BreakAfterAttributes: Always
AllowShortEnumsOnASingleLine: False